* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #000;
    color: #fff;
}

/* NAVBAR */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
}

.logo {
height: 70px;
object-fit: contain;
}

nav a {
    color: #d4af37;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 500;
}

nav a:hover {
    color: #fff;
}

/* HERO */

.hero {
    height: 90vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.9)),
    url('https://images.unsplash.com/photo-1493238792000-8113da705763');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.hero-content {
    max-width: 600px;
}

.hero h1 {
    font-size: 52px;
    color: #d4af37;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 30px;
}

.btn-primary {
    background: #d4af37;
    color: #000;
    padding: 14px 35px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 3px;
}

.btn-primary:hover {
    background: #fff;
}

/* SECTIONS */

.section {
    padding: 100px 80px;
    background: #000;
}

.section-dark {
    padding: 100px 80px;
    background: #111;
}

.content {
    max-width: 800px;
}

h2 {
    color: #d4af37;
    margin-bottom: 25px;
    font-size: 32px;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
}

.service-box {
    border: 1px solid #d4af37;
    padding: 40px;
    text-align: center;
    transition: 0.3s;
}

.service-box:hover {
    background: #d4af37;
    color: #000;
}

/* FOOTER */

footer {
    padding: 40px;
    text-align: center;
    background: #000;
    color: #777;
}

/* WHATSAPP */

.whatsapp-btn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: #25D366;
    color: #fff;
    padding: 15px 25px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
}

.menu-toggle {
display: none;
flex-direction: column;
cursor: pointer;
}

.menu-toggle span {
height: 3px;
width: 25px;
background: white;
margin: 4px 0;
transition: 0.3s;
}

#nav-links {
display: flex;
}

@media(max-width: 768px) {

#nav-links {
position: absolute;
top: 80px;
right: 0;
background: #000;
width: 200px;
flex-direction: column;
align-items: center;
display: none;
padding: 20px 0;
}

#nav-links a {
margin: 15px 0;
}

#nav-links.active {
display: flex;
}

.menu-toggle {
display: flex;
}

}
